/* Body */
body{
  margin: 0;
  padding: 0;
  font-family: "helvetica", arial;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
}

/* Header */
#header{
  background: transparent;
}

/* Footer */
#footer{
  background: transparent;
}

/* Portfolio */
#sohoduck{
  background-color: blue;
}

#puppyrace{
  background-color: orange;
}

#sprinkle{
  background-color: teal;
}

#mood{
  background-color: green;
}

.ui.images {
  text-align: -webkit-center;
}

#logo{
  padding-right: 10px
}
/* Photography */


/* Responsive CSS */
