/* Body */
body{
  margin: 0;
  padding: 0;
  font-family: "helvetica", arial;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
}

/* Header */
#header{
  background: white;
  opacity: 0.8;
}

/* Footer */
#footer{
  background: white;
  opacity: 0.8;

}

/* Portfolio */
#sohoduck{
  /*background-color: blue;*/
}

#puppyrace{
  /*background-color: orange;*/
}

#sprinkle{
  /*background-color: teal;*/
}

#mood{
  /*background-color: green;*/
}

.ui.images {
  text-align: -webkit-center;
}

#logo{
  padding-right: 10px
}

#logosize{
  padding-right: 10px;
  width: auto;
  height: 80px;
}

#portfolioheader{
  text-align: center;
}

#moveup #movedown{
  top: 20px;
  left: 20px;
  position: fixed;
  z-index: 999;
  font-size: 3em;
}

#animatedbutton{
  margin: 0 auto;
}

#iphoneimage{
  width: 130px;
  height: auto;
}

/* Photography */
/*#photography{
  margin-top: 50px;
}*/

/* main body */
#body{
  margin-top: 50px;
  margin-bottom: 50px;

}

.ui.grid{
  padding-left: 10px;
  padding-right: 10px;
  text-align: -webkit-center;
}

.companylogo{
  padding-right: 10px !important;
  width: auto !important;
  height: 120px !important;
  cursor: pointer;
}

.companylogo2{
  padding-right: 10px !important;
  width: auto !important;
  height: 100px !important;
  cursor: pointer;
}

.companytablogo{
  padding-right: 5px !important;
  width: auto !important;
  height: 50px !important;
  cursor: pointer;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column{
  cursor: pointer;
}

#alignright{
  text-align: right;
}

.ui.piled.segment, .ui.piled.segments{
  margin-left: 5rem;
  margin-right: 5rem;
}

.ui[class*="center aligned"].segment{
  text-align: left;
}

#tabheader{
  text-align: center;
}

#nyse:hover, #allthingsfrenchie:hover, #sade:hover, #ga:hover, #microsoft:hover, #pepsico:hover, #milbon:hover{
  cursor: pointer;
}

.ui.modal>.content{
  text-align: -webkit-center;
}

.paddingtop10 {
  padding-top: 10px;
  padding-bottom: 10px;

}

/* Responsive CSS */

/* Mobile Media Queries */
/* iPhone 4 & 4S */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {


}

/* iPhone 5 & 5S */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {


}

/* iPhone 6plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {


}

/* iPhone 6 & 6S */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {


}

/* iPhone 6plus */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  #logosize {
    height: 35px;
  }

  #iphoneimage{
    width: 45px;
  }

  #hoverimage{
    width: 300px;
  }

}
